<div class="container">
    <h2 class="title">To Do Api</h2>
</div>
<div class="nav">
    <code>
        <p>Follow instructions to setup a todo database</p>
    </code>
</div>

<style>
    .container{
        width: 100%;
        background-color: rgb(231, 230, 230);
        text-align: center;
    }
    .nav{
        width: 90%;
        margin:auto;
    }
</style>